:root{
    --baseColor: #FFFFFF;
    --spacing: 10px;
    --blur: 10px;
}
.h1{
    color: var(--baseColor);
}
img{
    padding: var(--spacing);
    background: var(--baseColor);
    filter: blur(var(--blur));
}

body{
    text-align: center;
    font-family: initial;
    font-weight: 200;
    font-size: 30px;
    background: #9EACCB;
    color: whitesmoke;
}
.controls{
    margin-top: 80px;
}
input{
    width: 100px;
    margin-left: 20px;
}

.h1::before{
    content: "\a";
    white-space: pre;
}
#picture{
    position: relative;
    margin-top: 70px;
}
h2{
    margin-top: 50px;
}
